* {
    background: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    --input-focus: #2d8cf0;
    --font-color: #fefefe;
    --font-color-sub: #7e7e7e;
    --bg-color: #111;
    --main-color: #fefefe;
    padding: 20px;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
}

.input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
}

.input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.input:focus {
    border: 2px solid var(--input-focus);
}

.button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.button-confirm {
    width: 120px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

.products {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    color: #FFD1DA;

    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border: solid #FFD1DA;
    border-radius: 5%;
    margin: 2em;
}

.status-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
}

.radio-input-div {
    display: flex;
    flex-direction: row;
    --font-color: #fefefe;
    align-self: center;
}

.carrito-vacio {
    display: flex;
}

.browse-pages {
    display: flex;
    flex-direction: row;
}

.previous-page {
    margin: 3em;
}

.next-page {
    margin: 3em;
}

hr {
    width: 90vw;
}

/* 
  .card .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
    color: #FFD1DA;
  }
  
  .card .price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
    color: #000;
  } */