<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>products:</h1>
    {{#each products}}
    <img src="{{this.imgUrl}}" />
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <h3>{{this.price}}</h3>
    {{/each}}
</body>

</html>